In [1]:
import pandas as pd

In [12]:
df_weather_data = pd.read_csv('./data/london_weather_modify_v2.csv',  parse_dates=['date'], index_col= 'date')
df_weather_data

,snow_False,snow_True,rain_False,rain_True,temp_max_1,temp_max_2,temp_max_3,temp_max_4,temp_min_1,temp_min_2,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
date,,,,,,,,,,,,,,,,,,,,,
2012-01-01,True,False,False,True,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2012-01-02,True,False,False,True,False,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2012-01-03,True,False,False,True,False,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2012-01-04,True,False,False,True,False,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2012-01-05,True,False,False,True,True,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-27,True,False,True,False,True,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
2013-12-28,True,False,True,False,True,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
2013-12-29,True,False,False,True,True,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
2013-12-30,True,False,False,True,True,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
2013-12-31,True,False,False,True,False,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,True

In [13]:
df_energy_train = pd.read_csv('./data/london_energy_train.csv',  parse_dates=['date'], index_col= 'date')
df_energy_train

                 MEAN     MAX    MIN
date
2012-01-01  12.506550  60.159  0.018
2012-01-02  12.939590  65.824  0.018
2012-01-03  12.874470  64.652  0.464
2012-01-04  12.731107  68.020  0.717
2012-01-05  12.792297  63.598  0.717
...               ...     ...    ...
2013-12-27  12.164863  64.658  0.011
2013-12-28  11.694570  52.527  0.011
2013-12-29  12.249580  62.881  0.011
2013-12-30  12.336170  54.214  0.011
2013-12-31  12.454077  81.308  0.011

[731 rows x 3 columns]

In [14]:
df_energy_valid = pd.read_csv('./data/london_energy_valid.csv',  parse_dates=['date'], index_col='date')
df_energy_valid

                 MEAN     MAX    MIN
date
2012-01-01  13.668400  42.998  1.732
2012-01-02  13.012767  40.583  2.543
2012-01-03  14.219267  42.843  1.848
2012-01-04  14.450900  47.007  2.615
2012-01-05  14.360267  48.555  1.765
...               ...     ...    ...
2013-12-27  12.724067  34.881  1.293
2013-12-28  13.213900  54.554  1.121
2013-12-29  14.836567  52.552  1.492
2013-12-30  12.946033  51.109  1.272
2013-12-31  12.601000  47.332  1.517

[731 rows x 3 columns]

In [15]:
df_energy_test = pd.read_csv('./data/london_energy_test.csv',  parse_dates=['date'], index_col='date')
df_energy_test

                MEAN     MAX    MIN
date
2012-01-01  10.46328  21.949  2.747
2012-01-02  10.44124  29.753  3.857
2012-01-03  10.67308  27.748  3.126
2012-01-04  10.82584  33.262  3.085
2012-01-05  12.05152  34.445  3.173
...              ...     ...    ...
2013-12-27   8.78784  35.882  1.425
2013-12-28  11.84024  72.353  1.432
2013-12-29  12.60660  57.111  1.381
2013-12-30  10.68568  33.268  0.354
2013-12-31  10.25472  40.117  1.388

[731 rows x 3 columns]

In [16]:
df_weather_energy_train = df_energy_train.join(df_weather_data, how='left')
df_weather_energy_train

,MEAN,MAX,MIN,snow_False,snow_True,rain_False,rain_True,temp_max_1,temp_max_2,temp_max_3,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
date,,,,,,,,,,,,,,,,,,,,,
2012-01-01,12.506550,60.159,0.018,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2012-01-02,12.939590,65.824,0.018,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2012-01-03,12.874470,64.652,0.464,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2012-01-04,12.731107,68.020,0.717,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2012-01-05,12.792297,63.598,0.717,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-27,12.164863,64.658,0.011,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
2013-12-28,11.694570,52.527,0.011,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
2013-12-29,12.249580,62.881,0.011,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,True
2013-12-30,12.336170,54.214,0.011,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,True
2013-12-31,12.454077,81.308,0.011,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,True

In [17]:
df_weather_energy_valid = df_energy_valid.join(df_weather_data, how='left')
df_weather_energy_valid

,MEAN,MAX,MIN,snow_False,snow_True,rain_False,rain_True,temp_max_1,temp_max_2,temp_max_3,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
date,,,,,,,,,,,,,,,,,,,,,
2012-01-01,13.668400,42.998,1.732,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2012-01-02,13.012767,40.583,2.543,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2012-01-03,14.219267,42.843,1.848,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2012-01-04,14.450900,47.007,2.615,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2012-01-05,14.360267,48.555,1.765,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-27,12.724067,34.881,1.293,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
2013-12-28,13.213900,54.554,1.121,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
2013-12-29,14.836567,52.552,1.492,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,True
2013-12-30,12.946033,51.109,1.272,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,True
2013-12-31,12.601000,47.332,1.517,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,True

In [18]:
df_weather_energy_test = df_energy_test.join(df_weather_data, how='left')
df_weather_energy_test

,MEAN,MAX,MIN,snow_False,snow_True,rain_False,rain_True,temp_max_1,temp_max_2,temp_max_3,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
date,,,,,,,,,,,,,,,,,,,,,
2012-01-01,10.46328,21.949,2.747,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2012-01-02,10.44124,29.753,3.857,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2012-01-03,10.67308,27.748,3.126,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2012-01-04,10.82584,33.262,3.085,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2012-01-05,12.05152,34.445,3.173,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-27,8.78784,35.882,1.425,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
2013-12-28,11.84024,72.353,1.432,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
2013-12-29,12.60660,57.111,1.381,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,True
2013-12-30,10.68568,33.268,0.354,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,True
2013-12-31,10.25472,40.117,1.388,True,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,True

In [19]:
df_weather_energy_train.to_csv('./data/london_weather_energy_train.csv')
df_weather_energy_valid.to_csv('./data/london_weather_energy_valid.csv')
df_weather_energy_test.to_csv('./data/london_weather_energy_test.csv')