In [51]:
import pandas as pd
import numpy as np

In [80]:
def make_timeseries(start='2013-01-01', end='2014-01-01', freq='1D', seed=None):
    index = pd.date_range(start=start, end=end, freq=freq, name='timestamp')
    row_cnt = len(index)
    state = np.random.RandomState(seed)
    data = {
        'name':state.choice(["Alice", "Bob", "Charlie"], size=row_cnt),
        'id':state.poisson(1000, size=row_cnt),
        'x':state.rand(row_cnt) * 2 -1,
        'y':state.rand(row_cnt) * 2 -1   
    }
    df = pd.DataFrame(data, index=index, columns=sorted(data))

    return df.iloc[:-1]

In [81]:
timeseries = [
    make_timeseries(freq="1min", seed=i).rename(columns=lambda x: f"{x}_{i}")
    for i in range(10)
]

In [77]:
pd.set_option("display.max_columns", 50)

In [79]:
pd.get_option("display.max_rows")

60

In [82]:
ts_wide = pd.concat(timeseries, axis=1)
ts_wide

,id_0,name_0,x_0,y_0,id_1,name_1,x_1,y_1,id_2,name_2,x_2,y_2,id_3,name_3,x_3,y_3,id_4,name_4,x_4,y_4,id_5,name_5,x_5,y_5,id_6,name_6,x_6,y_6,id_7,name_7,x_7,y_7,id_8,name_8,x_8,y_8,id_9,name_9,x_9,y_9
timestamp,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2013-01-01 00:00:00,977,Alice,-0.821225,0.906222,975,Bob,-0.288451,-0.215082,1047,Alice,-0.701819,-0.765593,1041,Charlie,0.132854,0.208719,963,Charlie,0.686143,-0.370780,966,Charlie,-0.131565,0.142729,1043,Charlie,-0.446677,-0.605627,980,Alice,-0.371775,0.697468,1048,Alice,0.403201,-0.756503,1025,Charlie,-0.957208,-0.757508
2013-01-01 00:01:00,1018,Bob,-0.219182,0.350855,1032,Alice,0.919521,-0.338915,1043,Bob,0.242424,-0.319271,1003,Alice,-0.362268,-0.006126,946,Charlie,-0.634645,0.987950,1019,Bob,0.648701,-0.483251,1015,Bob,0.648736,-0.776474,1000,Bob,-0.570205,-0.473155,1037,Bob,-0.690994,-0.623366,981,Alice,-0.414445,-0.100298
2013-01-01 00:02:00,927,Alice,0.660908,-0.798511,967,Alice,0.628664,0.763875,963,Alice,-0.518644,0.628198,921,Bob,0.462179,-0.106031,991,Bob,-0.033909,0.795095,1012,Charlie,0.602235,0.850841,1002,Alice,-0.034098,0.803895,899,Charlie,-0.690044,-0.912261,987,Bob,0.656727,0.579849,923,Charlie,-0.325838,0.581859
2013-01-01 00:03:00,997,Bob,-0.852458,0.735260,1021,Bob,0.995494,0.514133,952,Charlie,0.464291,-0.652434,1015,Alice,-0.043350,0.523658,1036,Bob,-0.826077,0.361152,1024,Charlie,-0.235616,0.257884,941,Charlie,0.619688,-0.606015,993,Alice,-0.397596,0.248303,1013,Bob,-0.132701,-0.173416,1042,Bob,0.992033,-0.686692
2013-01-01 00:04:00,965,Bob,0.717283,0.393391,1011,Bob,-0.143403,-0.282985,973,Charlie,-0.528326,0.137620,1017,Alice,-0.794234,-0.647341,962,Alice,-0.073808,-0.779263,980,Alice,0.780168,0.550804,985,Bob,0.149121,-0.441701,927,Bob,0.574683,-0.764567,1010,Charlie,-0.741446,-0.886785,964,Charlie,-0.924556,-0.184161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-31 23:55:00,1010,Bob,0.228737,0.483680,958,Alice,0.539416,0.814071,1034,Charlie,-0.171286,-0.435949,1045,Alice,-0.031229,0.785808,989,Charlie,-0.695845,0.515291,934,Charlie,-0.994584,-0.771929,973,Charlie,0.340250,-0.272336,976,Bob,-0.738607,0.448499,1000,Bob,0.105125,-0.443805,1005,Alice,0.749264,0.296245
2013-12-31 23:56:00,1037,Bob,-0.814321,0.612836,984,Charlie,-0.247867,0.703024,980,Bob,-0.306331,-0.494212,973,Charlie,-0.575353,-0.096118,961,Charlie,0.814454,-0.713945,1018,Charlie,0.461236,0.549647,994,Alice,0.844671,-0.994398,965,Bob,-0.235002,-0.461334,974,Charlie,-0.407472,-0.389456,992,Bob,-0.226454,0.450415
2013-12-31 23:57:00,980,Bob,0.232195,-0.618828,975,Alice,-0.838312,-0.160905,940,Bob,0.723066,0.920336,1017,Charlie,-0.412810,-0.699768,1022,Charlie,-0.785447,-0.315402,1022,Bob,0.278605,0.531585,986,Alice,0.791688,0.698315,1009,Charlie,0.019651,-0.132340,1026,Bob,-0.069845,-0.217647,958,Alice,-0.311898,-0.821734
2013-12-31 23:58:00,965,Alice,-0.231131,0.026310,929,Alice,0.220898,-0.073311,1037,Alice,-0.051512,0.279370,998,Alice,0.897814,0.051606,1022,Charlie,0.430321,-0.228929,1023,Alice,-0.704810,-0.048907,954,Alice,-0.557630,0.064840,975,Bob,-0.923110,0.972980,952,Bob,-0.535735,0.385133,1022,Alice,0.780304,0.246168
2013-12-31 23:59:00,984,Alice,0.942819,0.853128,1000,Bob,-0.344186,0.477168,971,Bob,0.454773,-0.202761,1031,Charlie,0.996290,0.505152,1018,Charlie,0.193494,0.682370,972,Charlie,-0.472949,0.356980,1030,Charlie,0.808547,0.069813,933,Bob,-0.591440,-0.749674,1047,Charlie,0.737935,-0.888214,946,Alice,-0.821978,-0.316737

In [55]:
ts_wide.to_parquet("timeseries_wide.parquet")

In [56]:
columns = ["id_0", "name_0", "x_0", "y_0"]

In [39]:
a = pd.read_parquet("timeseries_wide.parquet")[columns]

In [57]:
b = pd.read_parquet("timeseries_wide.parquet", columns=columns)

In [58]:
c = pd.read_parquet("timeseries_wide.parquet")

In [ ]:
a.memory_usage(deep=True), b.memory_usage(deep=True), c.memory_usage(deep=True)

In [60]:
ts = make_timeseries(freq="30s", seed=0)
ts.to_parquet("timeseries.parquet")
ts = pd.read_parquet("timeseries.parquet")
ts

                       id     name         x         y
timestamp
2013-01-01 00:00:00  1041    Alice  0.889987  0.281011
2013-01-01 00:00:30   988      Bob -0.455299  0.488153
2013-01-01 00:01:00  1018    Alice  0.096061  0.580473
2013-01-01 00:01:30   992      Bob  0.142482  0.041665
2013-01-01 00:02:00   960      Bob -0.036235  0.802159
...                   ...      ...       ...       ...
2013-12-31 23:57:30  1039  Charlie  0.206771  0.086942
2013-12-31 23:58:00  1022    Alice  0.266191  0.875579
2013-12-31 23:58:30   974    Alice -0.009826  0.413686
2013-12-31 23:59:00  1028  Charlie  0.307108 -0.656789
2013-12-31 23:59:30  1002    Alice  0.202602  0.541335

[1051200 rows x 4 columns]

In [61]:
ts.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1051200 entries, 2013-01-01 00:00:00 to 2013-12-31 23:59:30
Data columns (total 4 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   id      1051200 non-null  int64
 1   name    1051200 non-null  object
 2   x       1051200 non-null  float64
 3   y       1051200 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 40.1+ MB

In [62]:
ts.memory_usage(deep=True)

Index     8409600
id        8409600
name     56766772
x         8409600
y         8409600
dtype: int64

In [63]:
ts2 = ts.copy()
ts2.name = ts2.name.astype('category')
ts2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1051200 entries, 2013-01-01 00:00:00 to 2013-12-31 23:59:30
Data columns (total 4 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   id      1051200 non-null  int64
 1   name    1051200 non-null  category
 2   x       1051200 non-null  float64
 3   y       1051200 non-null  float64
dtypes: category(1), float64(2), int64(1)
memory usage: 33.1 MB

In [64]:
ts2.memory_usage(deep=True)

Index    8409600
id       8409600
name     1051470
x        8409600
y        8409600
dtype: int64

In [65]:
ts2.id = pd.to_numeric(ts2.id, downcast='unsigned')
ts2[['x', 'y']] = ts2[['x', 'y']].apply(pd.to_numeric, downcast='float')
ts2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1051200 entries, 2013-01-01 00:00:00 to 2013-12-31 23:59:30
Data columns (total 4 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   id      1051200 non-null  uint16
 1   name    1051200 non-null  category
 2   x       1051200 non-null  float32
 3   y       1051200 non-null  float32
dtypes: category(1), float32(2), uint16(1)
memory usage: 19.0 MB

In [66]:
ts2.memory_usage(deep=True)

Index    8409600
id       2102400
name     1051470
x        4204800
y        4204800
dtype: int64

In [67]:
reduction =( ts.memory_usage(deep=True).sum() - ts2.memory_usage(deep=True).sum() ) /1024/1024
print(f"Raw Mem:{ts.memory_usage(deep=True).sum()/1024/1024:0.2f}MB, DownCast Mem:{ts2.memory_usage(deep=True).sum()/1024/1024:0.2f}MB, Reduction:{reduction:0.2f}MB")

Raw Mem:86.22MB, DownCast Mem:19.05MB, Reduction:67.17MB

In [72]:
ts.memory_usage(deep=True)

Index     8409600
id        8409600
name     56766772
x         8409600
y         8409600
dtype: int64

In [73]:
ts.memory_usage(deep=True).sum()

90405172

In [76]:
ts2.memory_usage(deep=True).sum()

19973070